@using SuperBestFriends.Web.Models.Profile
@model IEnumerable<ProfileViewModel>

@{
    ViewData["Title"] = "People";
}

<h1>People</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @if (item.IsFriend)
                    {
                        <form asp-action="RemoveFriend">
                            <button type="submit" class="btn btn-secondary btn-sm" name="UserId" value="@item.UserId">Remove</button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="AddFriend">

                            <button type="submit" class="btn btn-primary btn-sm" name="UserId" value="@item.UserId">Add</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
